@import 'fonts';
@import 'variables';
@import 'libs/normalize';
@import './components/all';

body {
  background-color: $background;
  padding: 50px 0;
}

.wrapper {
  width: calc(100vw - 100px);height: 100%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
}

.sidebar{
  width: $sidebar-width;

  border-right: 1px solid #F1F1F1;
  background-color:#f4f6f8;
  padding: 60px 20px;
  box-sizing: border-box;
  overflow-y: auto;
}
.book{
  width: 90%;
  margin: 5% auto;
  border: 1px solid #f1f1f1;
  box-shadow:1px 2px 20px #f3f3f3;
  border-radius: 10px;
  font-size: 14px;
  display: flex;

  &__top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 4%;
  }

  &__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

  }

  &__profile {
    flex: 1;
    padding: 60px;
    overflow: auto;
  }

  &__sidebar{
    width: 210px;

    border-right: 1px solid #F1F1F1;
    background-color:#f4f6f8;
    padding: 60px 20px;
    box-sizing: border-box;
    overflow-y: auto;
  }
}
.field {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px 6px;

  font-size: 14px;

  &:focus {
    border-color: #dbdbdb;
  }
}